{#
  Remark42 comment embed.

  Opt out per page with `extra.no_comments = true` in frontmatter
  (set this on utility pages: stats, archive, on-this-day, search,
  privacy, about, etc.).
#}
{% if not page.extra.no_comments %}
<div id="remark42" class="remark42-embed"></div>
<script>
  var remark_config = {
    host: 'https://comments.michaelreflects.com',
    site_id: 'michaelreflects',
    url: '{{ page.permalink | safe }}',
    components: ['embed'],
    theme: 'light'
  };
  (function(c) {
    for (var i = 0; i < c.length; i++) {
      var d = document, s = d.createElement('script');
      s.src = remark_config.host + '/web/' + c[i] + '.mjs';
      s.defer = true;
      (d.head || d.body).appendChild(s);
    }
  })(remark_config.components);
</script>
{% endif %}
